.details {
  width: 200%;
  max-height: 0;
  height: 400px;
  opacity: 0;
  transition: 0.5s ease;
  overflow: hidden;
  position: relative;
}

.details .lists {
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 9;
}

.details .lists .btns-wrapper {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  height: 40px;
}

.details .lists .btns-wrapper .control {
  position: relative;
  overflow: hidden;
}

.details .lists .btns-wrapper .control button {
  color: var(--secondWhite);
  padding: 5px 10px;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  position: relative;
  transition: 0.2s ease;
}

.details .lists .btns-wrapper .control button:active,
.details .lists .btns-wrapper .control button:hover,
.details .lists .btns-wrapper .control button.active,
.details .close {
  color: var(--mainWhite);
}

.details .lists .btns-wrapper .control button:first-of-type {
  margin-right: 15px;
}

.details .lists .btns-wrapper .control button:nth-child(2) {
  margin-left: 15px;
}

.details .lists .btns-wrapper .control span {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 50%;
  height: 3px;
  background-color: var(--mainRed);
  transition: 0.2s ease;
}

.details .container {
  display: flex;
  width: 100%;
  transition: 0.2s ease;
}

.details .close {
  font-size: 30px;
  background-color: var(--mainRed);
  border: none;
  position: absolute;
  right: 50%;
  z-index: 5;
}

@media (max-width: 767px) {
  .details {
    display: none !important;
  }
}
