.nav ul {
  padding-left: 0 !important;
}

.nav ul li img {
  height: 40px;
}

@media (max-width: 768px) {
  .nav ul li img {
    height: 30px;
  }
}

@media (max-width: 576px) {
  .nav ul li img {
    height: 25px;
  }
}

.nav ul li a {
  color: var(--mainWhite);
}
