.register {
  position: relative;
}

.register header {
  height: 700px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../images/Membership\ Background.jpg");
  background-size: cover;
}

@media (max-width: 576px) {
  .register header {
    padding: 25px 20px !important;
  }
}

.register header .form {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainWhite);
}

.register header .form h1 {
  font-size: 50px;
}

@media (max-width: 550px) {
  .register header .form h1 {
    font-size: 30px;
  }
  .register header .form h3,
  .register header .form p {
    font-size: 20px;
  }
}
