.accordion {
  background-color: #000;
  border-top: 8px solid #222;
}

.wrapper {
  margin: auto;
  padding: 0 !important;
  color: var(--mainWhite);
}

.wrapper h1 {
  font-size: 50px;
  font-weight: bold;
}

.wrapper ul {
  padding: 0 !important;
}

.wrapper .list {
  list-style-type: none;
}

.wrapper .list button,
.wrapper .list .desc {
  background-color: #303030;
  font-size: 25px;
}

.wrapper .list button {
  width: 100%;
  color: var(--mainWhite);
  border: none;
}

.wrapper .list .desc {
  border-top: 1px solid #000;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease;
}

@media (max-width: 992px) {
  .wrapper h1 {
    font-size: 40px;
  }
  .wrapper .list button,
  .wrapper .list .desc {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 25px;
  }
  .wrapper .list button,
  .wrapper .list .desc {
    font-size: 18px;
  }
}

.rotate {
  transform: rotate(45deg);
}
