.show-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  border: none;
  color: var(--mainWhite);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  font-size: 20px;
}

@media (max-width: 767px) {
  .show-info {
    display: none;
  }
}

.show-info:hover > svg {
  color: #f00;
}
