.btn-container button,
.btn-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--mainWhite);
}

.btn-container a {
  border-radius: 3px;
  background-color: var(--mainRed);
}

.btn-container button {
  border: 1px solid var(--mainWhite);
  border-radius: 3px;
  background-color: transparent;
}

.btn-container button:nth-child(3),
.btn-container button:nth-last-child(1),
.btn-container button:nth-last-child(2) {
  border-radius: 50%;
}

.btn-container button abbr {
  cursor: pointer;
}

button.check {
  cursor: not-allowed;
}
