* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #0b0b0b;
  --mainWhite: #fff;
  --secondWhite: rgb(206, 204, 204);
  --mainRed: #e20813;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainColor) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--mainRed);
  border-radius: 15px;
}

.error {
  color: var(--mainRed);
  text-align: center;
  margin-top: 50px;
}

/* active list border */
.active-border {
  border: 4px solid #fff;
  position: relative;
}

.active-border::after {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  border: 10px solid transparent;
  border-top-color: #fff;
}
